{% extends "index.html" %}

{% block body %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">MEMBER</h1>
</div>

<main role="main">

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/makino.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Makino</h2>
          <p>Reader/Engineer</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/yamaji.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Yamaji</h2>
          <p>Engineer</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/hirota.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Hirota</h2>
          <p>Data Science</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/takahashi.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Takahashi</h2>
          <p>System Engineer</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/me.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Mun</h2>
          <p>Engineer</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="/static/dist/img/miyaoka.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Miyaoka</h2>
          <p>System Engineer</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">牧野 航大<br><span class="text-muted">Makino koudai</span></h2>
          <p class="lead">PLの役割がとても大変だったので、<br>その苦しさをよく分かれるようになりました！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/makino.jpg" alt="Generic placeholder image" width="500px" height="500px">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">山地 陽太<br><span class="text-muted">Yamaji youta</span></h2>
          <p class="lead">一人で開発するよりは皆んなで開発するのがやっぱり<br>楽しかったです！<br>皆んなが優しくてとても良かったです。</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/yamaji.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">廣田 遼<br><span class="text-muted">Hirota haruka</span></h2>
          <p class="lead">もっとコードが書きたかった！悔しい！<br>皆んな申し訳ない！！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/hirota.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">高橋 理緒<br><span class="text-muted">Takahashi rio</span></h2>
          <p class="lead">これからが本番だー！わしはこれから成長するぞー！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/takahashi.jpg" alt="Generic placeholder image" width="500px" height="500px">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">文 晟哲<br><span class="text-muted">Mun SeongCheol</span></h2>
          <p class="lead">チーム開発とても楽しかったです！<br>引き続きよろしくお願いします。</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/me.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">宮岡 拓史<br><span class="text-muted">Miyaoka takumi</span></h2>
          <p class="lead">みやおか たくみです。<br>みやおか たくみです！！<br>覚えてください。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="/static/dist/img/miyaoka.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">


      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


{% endblock %}