<!doctype html>
<html lang="ja">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/favicon.ico">
        
        <title>Deepimpact</title>
        
        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link href="/static/blog.css" rel="stylesheet">
        <link href="/static/dist/css/carousel.css" rel="stylesheet">
        <link href="/static/dist/css/pricing.css" rel="stylesheet">
        <link href="/static/dist/css/offcanvas.css" rel="stylesheet">        
</head>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!-- <a class="text-muted" href="#">Subscribe</a> -->
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" onClick="location.href=`{{url_for('index')}}`">Deepimpact</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <!-- <a class="text-muted" href="#"> -->
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0
                    24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="mx-3"> <circle cx="10.5" cy="10.5"
                    r="7.5"></circle> <line x1="21" y1="21" x2="15.8" y2="15.8"></line> </svg> -->
                </a>
                <!-- <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
            </div>
        </div>
    </header>
    <!-- Navicator -->
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="/blog/blog_navi">BLOG</a>
            <a class="p-2 text-muted" onClick="location.href=`{{url_for('member')}}`">MEMBER</a>
            <a class="p-2 text-muted" onClick="location.href=`{{url_for('board')}}`">BOARD</a>
            <a class="p-2 text-muted" onClick="location.href=`{{url_for('contact')}}`">CONTACT</a>
        </nav>
    </div>

    <body>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <!-- Button trigger modal -->
        <button type="button" id="modalBtn" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Launch demo modal
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">お知らせ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        現在このページは準備中です。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="blog-footer">
            <div class="container">
                <p class="copyright">
                    <small>© DEEPIMPACT ENTERTAINMENT INC.</small>
                </p>
            </div>
            <!-- <p> <a href="#">トップへ</a> </p> -->
        </footer>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script>
            window.jQuery || document.write('<script src="/static/dist/js/jquery-slim.min.js"><\/script>')
        </script>
        <script src="/static/dist/js/popper.min.js"></script>
        <script src="/static/dist/js/bootstrap.min.js"></script>
        <script src="/static/dist/js/holder.min.js"></script>
        <script src="/static/dist/js/offcanvas.js"></script>
        <script>
            Holder.addTheme('thumb', {
                bg: '#55595c',
                fg: '#eceeef',
                text: 'Thumbnail'
            });
        </script>
        <!-- Bootstrap Modal -->
        <script>
            $('#modalBtn').click(function () {
                $('#exampleModal').modal('show')

            });
            $('#closeModal').click(function () {
                $('#exampleModal').modal('hide')

            });
        </script>
    </body>

</html>